[Unit]
Description=Check for a new JenerOS version
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/lib/jeneros/update check
